/* Анимированный фон с плавно меняющимися градиентами */
@keyframes gradientBackground {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(45deg, #ffffff, #b2bcdd, #9da4ca, #90a5d4);
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
}